<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mybatis/model/PhoneRegister.xml"/>
        <mapper resource="mybatis/model/AppInfos.xml"/>
        <mapper resource="mybatis/model/AdsTasks.xml"/>
        <mapper resource="mybatis/model/Area.xml"/>
        <mapper resource="mybatis/model/CheakUpdate.xml"/>
    </mappers>
</configuration>